@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
@font-face{
    font-family: miama;
    src: url('images/Miama.otf');
}
*{
    margin: 0px;
}
body{
    background: #000;
    color: white;
}
.change-habit,
.run-extra,
.our-team{
    margin: 5% 10% 6%;
}
  /* header styles */
header{
    margin: 5% 10%;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    
}
/* navbar styles */
nav{
    justify-content: space-between;
}
.mobile-menu{
    font-size: 32px;
    display: none;
}
.display-flex{
    display: flex;
}
.logo-text{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.list-item{
    margin: 12px 47px 12px 0px;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.active-list-item{
    background: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
}

/* banner styles start */
.banner-img{
    height: 580px;
}
.banner-title,
.shape{
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.shape{
    font-family: miama;
    font-weight: 400;
    font-size: 5rem;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 20px 0;
}
.btn-primary,
.btn-dark{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    border: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}
.btn-dark{
    border: 1px solid white;
    background:#000;
}
#btn-primary-mobile{
    display: none;
}
/* badge styles */
.red-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #E6533C;
    margin-right: 15px;
}
.badge{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    height: 50px;
    width: 160px;
}
.badge500{
    margin-top: -130%;
    margin-left: 70%;
}
.badge-title{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.badge350{
    width: 180px;
    margin-top: 54%;
    margin-left: -38%;
} 
/* header style has completed */

/* change your habits section */

.section-title{
font-size: 3rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
margin: 14px 0;
}
.section-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin: 14px 0;
}
.habit-card-container{
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}
.habit-card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-img img{
    border-radius: 50%;
}
.card-description{
    text-align: center;
}

/* run an extra section styles */
.run-extra{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px;
    justify-content: space-between;
}
.run-extra-info>p, .run-extra-info>h3{
    text-align: left;
}
.run-extra-img{
    display: flex;
    justify-content: end;
}
.run-extra-img img{
    width: 75%;
    border-radius: 18px;
}
.run-extra-info > button{
    width: 100%;
}
/* our team section styles  */

.our-team{
    flex-direction: column;
}
.team-container{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.team-card{
    background-position: center;
    background-size: cover;
    /* width: 20.45rem; */
    /* min-height: 17rem; */
    border-radius: 18px;
}
.team-card > h4{
    margin-top: 200px;
    margin-left: 20px;
}
.team-card > p{
    margin-left: 20px;
}
 /* RESPONSIVE FOR SMALL DEVICES */

@media screen and (max-width:576px){
 
/* header style for small device */
    header {
        margin:57px 20px;
    }
    .mobile-menu{
        display: block;
    }
    .nav-list{
        display: none;
    }
    .banner{
        margin-top: 60px auto;
        flex-direction: column;
    }
    .banner-title, .shape {
        font-size: 2.875rem;
    }
    .badge350{
        margin-top: 22%;
        margin-left: 4%;
    }
    .banner-img{
        margin-top: 50px;
    }
    .banner-btns{
        display: flex;
        flex-direction: row;
    }
    .btn-primary, .btn-dark {
        padding: 10px 20px;
    }
    #btn-primary-mobile{
        display: block;
        margin-right: 20px;
    }
    #mobile-off{
        display: none;
    }
    .badge500{
        margin-top: -139%;
        margin-left: 50%;
    }
    /* change your habit section for small devices */
    .change-habit{
        display: flex;
        flex-direction: column;
    }
    /* run an extra section styles for small devices */
    .run-extra{
        flex-direction: column;
    }
    .run-extra-img img{
        width: 100%;
        margin-top: 20px;
    }
}