@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
@font-face{
    font-family: miama;
    src: url('images/Miama.otf');
}
*{
    margin: 0px;
}
body{
    background: #000;
    color: white;
}
.change-habit,
.run-extra,
.our-team,
.bmi
{
    margin: 5% 10% 6%;
}
  /* header styles */
header{
    padding: 5% 10%;
    background: linear-gradient(180.00deg, rgb(28, 30, 30),rgba(119, 119, 119, 0) 100%);
    
}
/* navbar styles */
nav{
    justify-content: space-between;
}
.mobile-menu{
    font-size: 32px;
    display: none;
}
.display-flex{
    display: flex;
}
.logo-text{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.list-item{
    margin: 12px 47px 12px 0px;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.active-list-item{
    background: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
}

/* banner styles start */
.banner-img{
    height: 580px;
}
.banner-title,
.shape{
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.shape{
    font-family: miama;
    font-weight: 400;
    font-size: 5rem;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 20px 0;
}
.btn-primary,
.btn-dark{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    border: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}
.btn-dark{
    border: 1px solid white;
    background:#000;
}
#btn-primary-mobile{
    display: none;
}
/* badge styles */
.red-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #E6533C;
    margin-right: 15px;
}
.white-tri {
    margin-top: 12px;
    margin-left: 14px;
    width: 0px;
    height: 0px;
    border-left: 15px solid white;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
}
.badge{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    height: 50px;
}
.badge500{
    margin-top: -130%;
    margin-left: 70%;
    width: 158px;
}
.badge-title500{
    color: rgb(250, 250, 249);
    font-size: 1.875rem;
    font-weight: 900;
    text-align: left;
    margin-bottom: 5px;
}
.badge-title350{
    color: rgb(250, 250, 249);
    font-size: 1.13rem;
    font-weight: 900;
    text-align: left;
    margin-bottom: 5px;
}
.badge350{
    width: 180px;
    margin-top: 54%;
    margin-left: -38%;
} 
/* header style has completed */

/* change your habits section */

.section-title{
font-size: 3rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
margin: 14px 0;
}
.section-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin: 14px 0;
}
.habit-card-container{
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
    gap: 50px;
}
.habit-card{
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-img img{
    border-radius: 50%;
}
.card-title{
    margin-top: 30px;
    font-size: 1.125rem;
    font-weight: 600;
}
.card-description{
    margin-top: 6px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}

/* run an extra section styles */
.run-extra{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px;
    justify-content: space-between;
}
.run-extra-info>p, .run-extra-info>h3{
    text-align: left;
}
.run-extra-img{
    display: flex;
    justify-content: end;
}
.run-extra-img img{
    width: 75%;
    border-radius: 18px;
}
.run-extra-info > button{
    width: 100%;
}

/* BMI Calculator section styles */
.calculator-container{
    background-color: rgba(255, 255, 255, 0.1);
}
.table{
    margin-top: 52px;
}
table, th, td{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    padding: 15px 18px;
    text-align: left;
}
th{
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}
.bmi > div > h4,
.bmi-calculator > h4{
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.bmi{
    padding: 50px 0px;
}
.bmi-calculator{
    flex-direction: column;
    margin-left: 36%;
}
.bmi-calculator > p{
    margin-top: 14px;
    margin-bottom: 34px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
#mobile-form{
    display: none;
}
.bmi-calc-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* width: 100%; */
}
input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
#factor{
    grid-column: 1 / span 2;
}  
.bmi-calc-form:nth-last-child(){
    grid-template-rows: 100% 1fr;
}
.bmi-calc-form > button{
    margin-top: 34px;
}
.bmi-calc-form > input, select, option{
    padding: 13px 20px;
    margin: 3px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}




/* our team section styles  */
.our-team{
    flex-direction: column;
}
.team-container{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.team-card{
    background-size: cover;
    border-radius: 18px;
}
.team-card > h4{
    margin-top: 200px;
    margin-left: 20px;
}
.team-card > p{
    margin-left: 20px;
}

/* styel for footer */
footer{
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-container{
    margin: 5% 10% 0%;
}
.upper-footer{
    display: grid;
    grid-template-columns: 50% 25% 25%;  
    padding: 66px 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.fitness-footer{
    margin-top: 20px;
    margin-right: 102px;
}
.fitness-footer > .section-description{
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}
.footer-menu > ul{
    list-style: none;
}
.footer-menu > h4{
    font-size: 2rem;
    font-weight: 700;
}
.footer-menu > ul > li{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.44rem;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
    margin-left: -15%;
}
.reserved-footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    padding: 35px 0;
}


 /* RESPONSIVE FOR SMALL DEVICES */

@media screen and (max-width:576px){
 
/* header style for small device */
   
    header{
        margin-top:0px;
    }
    .mobile-menu{
        display: block;
        margin-top: 28px;
    }
    .nav-list{
        display: none;
    }
    nav{
        margin-bottom: 52px;
        align-items: baseline;
    }
    .logo-text{
        font-size: 48px;
    }
    .banner-img{
        min-height: 550px;
        background-image: url(/images/Images\ 2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    .banner{
        /* margin-top: 60px auto; */
        flex-direction: column;
    }
    .banner-title, .shape {
        font-size: 2.875rem;
    }
    .banner-img{
        margin-top: 50px;
    }
    .banner-img > img{
        display: none;
    }
    .banner-btns{
        display: flex;
        flex-direction: row;
    }
    .btn-primary, .btn-dark {
        padding: 10px 20px;
    }
    #btn-primary-mobile{
        display: block;
        margin-right: 20px;
    }
    #mobile-off{
        display: none;
    }
    .white-tri {
        margin-top: 12px;
        margin-left: 14px;
        width: 0px;
        height: 0px;
        border-left: 15px solid white;
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
    }
    .badge{
        padding: 11px 10px 0px;
    }
    .badge500 {
        margin-top: 20%;
        margin-left: 50%;
        margin-right: 5%;
        font-size: 12px;
        width: 35%;
    }
    .badge-title500{
    font-size: 1rem;
    }
    .badge350{
        margin-top: 38%;
        margin-left: 4%;
    }
    /* change your habit section for small devices */
    .habit-card-container{
        flex-direction: column;
        margin-bottom: 80px;
    }
     .section-title{
        font-size: 2rem;
     }
    /* run an extra section styles for small devices */
    .run-extra{
        flex-direction: column;
    }
    .run-extra-img img{
        width: 100%;
        margin-top: 20px;
    }

    /* BMI calculator styles for sm device */
    .calculator > .section-title,
    .calculator > .section-description{
        text-align: left;
        margin-left: 20px;
    }
    .bmi{
        flex-direction: column;
        padding: 50px 0px 0px 0px;
        margin: 5% 7% 0%;
    }
    .bmi-calculator{
        margin: 42px 0px 0px 0px;
        overflow: hidden;
    }
    .bmi > div > h4{
        font-size: 1rem;
    }
    .bmi-calc-form {
        padding-bottom: 43px;
    }
    .bmi-calc-form > input {
        width: 70%;
    }
    .bmi-calc-form > select, option  {
        width: 95%;
    }
    #factor {
        width: 97%;
    }
    /* .bmi-calc-form > input, select, option {
        width: 40%;
    } */
    /* TEAM section style */
    .team-container{
        grid-template-columns: 1fr;
    }
    .footer-container{
        margin: 66px 20px 0px;
    }
    .upper-footer {
        padding-top: 44px;
        grid-template-columns: 1fr;
    }
    .fitness-footer > .section-description {
        margin-bottom: 30px;
    }
    .footer-menu > ul > li{
        margin-top: 20px;
        margin-left: -35px;
        margin-bottom: 20px;
    }
} 